# Delphi
__history/
*.dcu
*.dcp
*.do
*.dsk
*.bdsproj
*.project
*.local
*.identcache
*.tvsconfig
Win32/
Win64/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.whl
*.env
*.venv
*.pytest_cache/
*.coverage
*.mypy_cache/
*.pytype/
*.pylint.d
